{
  "presets": [
    "@babel/preset-env",
    "react-app"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-react-jsx",
    "react-hot-loader/babel"
  ]
}
